* {
  margin: 0 auto;
}

body {
  background-color: rgb(173, 216, 230);
}

#container {
  width: 85%;
  margin-top: 2%;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 3%;
}

#info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 2%;
}

#download-btn {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: #fff;
  background: #22236b;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 6px;
  margin-top: 3%;
  margin-bottom: 5%;
}

#download-btn:hover {
  filter: brightness(85%);
}

div .user {
  margin: 0.1% 1%;
  padding: 3px;
  display: flex;
  flex-direction: column;
  background-color: rgb(151, 187, 199);
  border-radius: 8px;
}

div .user-info {
  width: 90%;
  margin-bottom: 3%;
}

.user-info > p {
  font-size: large;
}

.photo {
  margin-top: 3%;
  margin-bottom: 3%;
  width: 90%;
}

#warning {
  color: red;
  font-size: 1.2em;
  margin-left: auto;
}
